extends layout

block content

  main.overview
    h1(class=['motto', category.strategy])= category.name + ": " + category.motto
    for card in cards
      case card.type
        when 'card'
          <a href="/cards/#{card.id}">
            section(class=['card', card.strategy])
              header
                div(class=['category-icon', card.strategy])
                h1!= card.name
              div.cardcontent
                img(src=card.image, alt=card.name, width=card.image_width, height=card.image_height)
                h2 Why?
                p #{card.why}
                div.button-box
                  a(id=card.id, class=['button','favorites'], href="/favorites") Save in favorites
                  <a class="button call-to-action" href="/cards/#{card.id}">More info</a>
          </a>
        when 'category-description'
          <a href="/#{card.strategy}">
            section(class=['category-description', card.strategy])
              header
                div(class=['category-icon', card.strategy])
                h1= card.name
              p
                em= card.motto
              p!= card.why
          </a>
