extends layout

block nav-categories


block content
  main.overview
    h1 Favorites
    for card in cards
      if card.type == 'card'
        <a href="/cards/#{card.id}">
          section(id=card.id, class=['card', card.strategy])
            header
              div(class=['category-icon', card.strategy])
              h1!= card.name
            div.cardcontent
              img(src=card.image, alt=card.name, width=card.image_width, height=card.image_height)
              h2 Why?
              p #{card.why}
              div.button-box
                <a class="button call-to-action" href="/cards/#{card.id}">More info</a>
        </a>

block append scripts
  script(src="/javascripts/show-favorites.js")
