doctype html
html(lang="en")
  include head.pug

  body

    include header.pug
    include nav-categories.pug

    main.overview

      section.category-description.home
        header
          div.category-icon.home
          h1 #{categoryDescr.name}
        p #{categoryDescr.why}
        a.button(href="/") Shuffle cards again

      for card in cards
        if card.type == 'card'
          section(class=['card', card.strategy], id=card.id)
            a(href='/cards/'+card.strategy+'/'+card.id)
              header
                div(class=['category-icon', card.strategy])
                h1 #{card.name}
              div.cardcontent
                img(src=card.image, alt=card.name, width=card.image_width, height=card.image_height)
                h2 Why?
                p #{card.why}
            div.button-box
              a.button.add-to-favorites(href="/favorites") Save to favorites
              a.button.call-to-action(href='/cards/'+card.strategy+'/'+card.id) More info

    include footer.pug
